.App {
    font-family: sans-serif;
    text-align: center;
  }
  
body {
  margin: 0px;
}

.photo {
  height: 200px;
  width: 200px;
  /* transform: translatex(150px) */
}  

.fixed-content {
  /* top: 0; */
  bottom:0;
  opacity: 0.6;
  position:fixed;
  /* overflow-y:scroll; */
  overflow-x:hidden;
  background-color:#1f1f37;
  /* background-color:#b3b3b3; */
  padding:1%;
  left: 0%;
  border-radius: 10%;
  /* right: 0px; */
}

.card {
  max-width: 100%;
  height: auto;
}

.unreached-poi {
  background-color:#ff4747;
}

.reached-poi {
  background-color:#1ca721ee;
}